
.box{
    margin: 2rem;
}
.head{
    background-color: rgb(30, 130, 244);
    margin-top: 30px;
    padding: 1.7rem;
    color: aliceblue;
    
}
#inp{
    background-color: rgb(218, 228, 235);
    width: 20%;
    height: 35px;
    border-radius: 5px;
    border: none;
}
.btn{
    background-color: rgb(3, 117, 247);
    padding: 0.4rem;
    width: 5%;
}